.square{
    background: none;
    padding: 16px 16px;
}

.starting{
    background-color:rgb(105, 172, 150) !important;
    padding: 16px 16px;
}

.ending{
    background-color:rgb(172, 104, 104) !important;
    padding: 16px 16px;
}

.align{
    padding: 3px 3px;
}

.highlightedPath{
    background-color:rgb(243, 150, 113) ;
    padding: 16px 16px;
}

.none{
    background-color:rgb(0, 0, 0) ;
    padding: 16px 16px;
}