<div>
    <div class = "align">
        <div class = "align"> 
            Enter a value to change grid size, N x N Grid Size
        </div>
    <input type="number" placeholder = "Enter a value" max = "20" #inputVal>
    <input type="submit" value="Update Grid Size" (click) =updateInput(inputVal.value)>
    <!-- <input type="submit" value="Submit"> -->
    <br>
    <br>
        <button  (click) = "fillPath(startingPoint, endingPoint)" [disabled]="disableButton">FIND SHORTEST PATH</button>
        <button  (click)="toggleConditions=1"> ADD BLOCKS</button>
        <button  (click) = "toggleConditions=2">CHANGE START POINT</button>
        <button  (click) = "toggleConditions=3">CHANGE END POINT</button>
        <button (click) = "clear()">CLEAR</button>
        
    </div>
    <table class= "table" >
        <tr *ngFor='let board of generateBoard(inputNumber);let i = index' >
            <th *ngFor = 'let box of board; let j = index'>
                <div [ngSwitch]="toggleConditions">
                    <div *ngSwitchDefault>
                        <button [ngClass]="{'starting': startingPoint.iIndex == i && startingPoint.jIndex == j, 
                                            'ending': endingPoint.iIndex == i && endingPoint.jIndex == j, 
                                            'square': clicked,
                                            'highlightedPath': highlight(i, j),
                                            'path' : path(i, j),
                                            'outerEdges': edgePath(i, j),
                                            'none': checkAddedBlocks(i,j)
                                            }"  
                                            >
                        </button>   
                    </div>
                    <div *ngSwitchCase="1">
                        <button [ngClass]="{'starting': startingPoint.iIndex == i && startingPoint.jIndex == j, 
                                            'ending': endingPoint.iIndex == i && endingPoint.jIndex == j, 
                                            'square': clicked,
                                            'highlightedPath': highlight(i, j),
                                            'path' : path(i, j),
                                            'outerEdges': edgePath(i, j),
                                            'none': checkAddedBlocks(i,j)
                                            }"  
                                            
                                            (mousedown) = "mousedown(i, j)"
                                            (mouseleave) = "mouseover(i, j)"
                                            (mouseup) = "mouseup(i,j)"
                                            >
                        </button>   
                    </div>
                    <div *ngSwitchCase="2">
                        <button [ngClass]="{'starting': startingPoint.iIndex == i && startingPoint.jIndex == j, 
                                            'ending': endingPoint.iIndex == i && endingPoint.jIndex == j, 
                                            'square': clicked,
                                            'highlightedPath': highlight(i, j),
                                            'path' : path(i, j),
                                            'outerEdges': edgePath(i, j),
                                            'none': checkAddedBlocks(i,j)
                                            }"  
                                            (mousedown) = "changeStart(i, j)"
                                            >
                        </button>   
                    </div>
                    <div *ngSwitchCase="3">
                        <button [ngClass]="{'starting': startingPoint.iIndex == i && startingPoint.jIndex == j, 
                                            'ending': endingPoint.iIndex == i && endingPoint.jIndex == j, 
                                            'square': clicked,
                                            'highlightedPath': highlight(i, j),
                                            'path' : path(i, j),
                                            'outerEdges': edgePath(i, j),
                                            'none': checkAddedBlocks(i,j)
                                            }"  
                                            (mousedown) = "changeEnd(i, j)"
                                            >
        
                        </button>   
                    </div>
            </div>

            </th>
        </tr>
    </table>
</div>

